*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Abel', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Nabla', system-ui;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 236, 236);
}

header{
    background-color: white;
    height: 80px;
}

.logo{
    height: 80px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.logo-title{
    display: inline-block;
    font-size: 38px;
    font-weight: 500;
    color:#153960;
    margin-left: 5px;
    vertical-align: middle;
}

.input-section{
    width: 60%;
    height: 40px;
    background-color: white;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 10px 10px 0 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: rgb(62, 61, 61);
    border-radius: 5px;
    border: 1px solid rgb(62, 61, 61);
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;

   
}

a:hover{
    background-color: rgb(46, 102, 192);
    color: white;
}

.link-section{
    margin-left: 20px;
}

.main-section{
    background-color: white;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 0 0 10px 10px;
    
}

.new-task{
    padding-top: 20px;
}

h3{
    color:rgb(62, 61, 61);
}

.row{
    padding-top: 10px;
}

.icon{
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

.green{
    color: green;
    border: 1px solid green;
}

.red{
    color: red;
    border: 1px solid red;
}

.sector{
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    text-align: center;
    
}

.blue{
    background-color:rgb(0, 153, 255);
}

.today{
    padding-top: 30px;
}

.purple{
    background-color: rgb(172, 105, 234);
}

.lightgreen{
    background-color: rgb(124, 192, 124);
}

.orange{
    background-color: orange;
}

.upcoming{
    padding-top: 30px;
}

.pink{
    background-color: pink;
}

.lime-green{
    background-color: rgb(170, 224, 104);
}
